.button{
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1 black;
    border-radius: 10px;
    cursor: pointer;
    width: 52px;
    color: black;
}
.row{
    margin: 5px;
    align-self: auto;
}
.border {
    border: 2px;
}